body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  
}
*{
    box-sizing: border-box;
}

:root{
    --green-color :#33d1cc;
    --dark-color: #19283f ;
    --btoom-color : #ff3150;
   --yellow-color : #ffc400;
  --section-color :#eff7fa ;
  --buttom-color:#009688;
  --paragraph-color: rgba(238, 238, 238, 0.777);
}

/* landing */
.box-setting {
    position: fixed;
    background-color: white;
    min-height: 100vh;
    left:-200px ;
    top: 0;
    width: 200px;
    z-index: 1000;
    transition: .3s;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.09);

}
.box-color{
    background-color: #eee;
    margin: 10px;
    text-align: center;
    height: 100px;
}


.box-setting.open {
    left: 0;
}
.box-setting .toogle {
   
position: absolute;
    right: -30px;
    top: 100px;
    background-color: #eee;
    cursor: pointer;
   
    
}
.box-setting .toogle i{
    width: 30px;
    padding: 10px 0;
}
/* box setting */
/* start change colors */
.box-setting .change-color{
    text-align: center;
    padding: 0;

}

.box-setting .change-color .ul-colors{
padding-left: 2px;

}


.box-setting .change-color h1{
    padding-top: 5px;
    margin: 5px;
    font-size: 20px;
    
}
.box-setting .change-color li{
  
    text-decoration: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
   

   
    
}

.box-setting .change-color .active{
    border: 1px solid #FFF;
  
}

.box-setting .change-color li:first-child{
    background-color:#ff3150;


}

.box-setting .change-color li:nth-child(2){
background-color: #19283f;

} 

.box-setting .change-color li:nth-child(3){
    background-color:#33d1cc;
    
    } 

    .box-setting .change-color li:nth-child(4){
        background-color: #ffc400;
        
        } 

        .box-setting .change-color li:nth-child(5){
            background-color:#000000;
            
            } 

            
/* / change colors */

/* .change-background */
.change-background{
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
   

}

.change-background h5{
font-size: 15px;  
margin: 0;
padding-bottom: 10px;

    
}

.change-background button{
    border: none;
    background-color: var(--green-color);
    width: 50px;
    height: 25px;
    border-radius: 10px;
   opacity: 0.5;
   cursor: pointer;
   color: #fff;
}

.change-background button.active {
    opacity: 1;
   
}

.reset-option button {
    background: tomato;
    border: none;
    width: 178px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #eee;
    font-weight: bold;
}


/* /box setting */

/* nav-bullets */
.nav-bullets{
    position: fixed ;
    top: 30%;
    right: 0;
    z-index:1000;

}


.nav-bullets .nav-box{
    width: 20px;
    height: 20px;
    border: 3px solid var(--green-color);
    border-radius: 50%;
    position: relative;
    margin: 20px;
    cursor: pointer;



}

.nav-bullets .nav-box .bullet{
    display: none;
    background-color:var(--green-color);
    position: absolute;
    width: 110px;
    height: 30px;
    right: 30px;
    text-align: center;
font-size: 17px;
color: #eee;
line-height: 1.8;
top: -5px;
transform: translateX(-5px);
transition:opacity 0.3s ease , transform 0.5s ease;

}


.nav-bullets .nav-box .bullet:after {
    content: '';
    width: 0;
    height: 0;
border-color:transparent transparent transparent var(--green-color) ;
border-width: 10px;
border-style: solid;
position: absolute;
right: -20px;
top: 15%;    

}

.nav-bullets .nav-box:hover .bullet{

    display: block;

    

}



/* /nav-bullets */


/* landing-page*/
.landing-page{
    background-image: url(../imgs/03.jpg);
    min-height: 100vh ;

  background-size: cover;  
  position: relative;
}
.container{
   padding: 0 40px ;
}


.landing-page .overlay {
    position: absolute;
    background-color: rgb(0 0 0 / .6);
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-area{
position: relative;
padding: 10px;
color: #eee;
    display: flex;
    z-index: 2;
}

.header-area .logo{
    position: absolute;
    width: 60%;
font-weight: bold;
margin: 10px;
padding: 5px 0px;
font-size: 20px;
}
@media (max-width :575px){
    .header-area .logo{
        font-size: 18px;
    }
}

.header-area .links {
    text-align: right;
    width: 100%;
    list-style: none;
    padding-right: 20px;
    font-size: 15px;

    
}
.header-area .container{
    width: 100%;
}

.header-area .links a{
    text-decoration: none;
    color: #Eee;

}
.header-area .links a:hover,
.header-area .links a.active{
    color: var(--green-color);

}


.header-area ul li{

   display: inline-block;
   padding-left: 10px;
}

.intro-text{
    position: relative;
    left: 50%;
    top: 200px;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #Eee;

}

.intro-text h1 {
    font-size: 30px;
    margin-bottom:15px ;
}


.intro-text h1 span {
color: var(--green-color);
}


.intro-text p {
    position: absolute;
    width: 100%;
    line-height: 25px;
    font-size: 20px;
    color: rgba(238, 238, 238, 0.777);
}


.toglle-links {
background: none;
z-index:2;
cursor: pointer;
text-align: right;
margin-top: 15px;
display: none;
position: relative;

}
.toglle-links.menu-active ::after {
    content: '';
    border-width: 10px;
    position: absolute;
    display: block;
 border-style:solid;
 border-color: transparent transparent #eee transparent;
    top: 65%;
    left: 7px;

}

.toglle-links span {
    display: block;
    background-color:#eee;
    width: 30px;
    height: 5px;
    margin-bottom: 3px;


    
}

@media (max-width: 992px){
.container .links {
    display: none;
}
.toglle-links {
    display: inline-block;
}
.container .open{
   width: 100%;
   padding: 10px 5px;
   background-color: #eee;
   display: block;
   position: absolute;
   left: 0;
   top: 75%;
   border-radius: 5px;
   text-align: left;

}

.container .open li {
   display: block;
   margin: 10px;
   font-weight: bold;
   color: var(--green-color);
}
.container .open li a{
    color: var(--green-color);
    
 }

}
/* /landing */


/* about */
.about{
    display: flex;
    padding-top: 30px;
position: relative;
}

.about p{
    line-height: 30px;
  color: #767676;
padding: 10px;  

}

.about .info {
    position: relative;
    left: 5%;
    width: 50%;
    float: left;
    margin: 0 60px;
    padding: 10px;
    text-align:start;
}

.about .img {
float: right;
width: 50%;
margin:0 30px;
padding: 10px;
text-align: center;


}

.about .info h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--green-color);
}

.about img {
width: 250px;
}
@media(max-width :768px){
    .about{
        display:block;
        text-align: center;
    }
    .about .info{
        position: relative;
        width: 98%;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    .about .img {
        display:inline-block;
float: none;
width: 100%;
margin: 0;
}

.about p {
width: 90%;
padding: 10px;
margin: 0;
}
.about h1 {
    width: 90%;
    padding: 10px;
    margin: 0;
    }

}


.ourskills{
    background-color: #eee;
    padding-top:30px ;
    padding-bottom: 40px;
    


}

.ourskills .container{
margin: 0 100px;
}



.ourskills h2{
    text-align: center;
    color: var(--green-color);
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
}

.ourskills .skill-box {
    padding: 10px;
    display:flex;
    background-color: white;
    margin-bottom: 15px;
    width: 100%;

    
}
.ourskills .skill-name {
width: 100px;
text-align: center;
line-height: 40px;
font-weight: bold;

}

.ourskills .skill-progress {
width: 100%;
height: 40px;
background-color: #EEE;
position: relative;
border-radius: 6px;
overflow: hidden;

}

.ourskills .skill-progress span {
    position: absolute;
left: 0;
top: 0;
width: 0;
    height: 100%;
background-color: var(--green-color);
transition: all 2s;
}

@media(max-width :767px){
    .ourskills .skill-box{
      display: block;
      width: 98%;
    }
    .ourskills .container{
        margin: 0;
    }
    .ourskills .skill-name {
width: 100%;
    }
}
/* /about */

/* our-gallary */
.our-gallary  {
    background-color: white;
    margin-top: 50px;
    padding: 20px 0 50px 0;

}

.our-gallary .box-imgs {
    text-align: center;
}

.our-gallary img {
    width: 230px;
margin: 5px;
padding: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.our-gallary h1 {
    text-align: center;
    color: var(--green-color);
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}

/* popup imgs */
.overlay-img {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 1001;
    background-color: #eee;
    padding: 15px;



}

.popup-box img {
    max-width: 100%;
}

.popupheading {
    color: var(--green-color);
    background-color: #eee;
    margin: 0;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.exitimg {
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: var(--green-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family:sans-serif;
    color: #eee;
    text-align: center;
    font-size: 20px;
    padding-top: 7px;

}


/* /our-gallary */

/* time line */
.timeline {
    margin-top: 30px;
    padding:30px 100px;
    background-color: #eee;
}


.timeline .content {
    position: relative;
    overflow: hidden;
    width: 100%;

}
.timeline .content h2{
    margin:20px auto;
    font-size: 15px;
    line-height: 1.8;
    width: 50px;
    height: 25px;
 text-align: center;
 background-color: var(--green-color);
 color: #fff;
 font-weight: bold;
 position: relative;
 z-index: 2;
 border-radius: 5px;


}

.timeline .content:before {
    position: absolute;
    content: "";
    width: 2px;
    height:100% ;
    background-color: var(--green-color);
    left: 50%;
    top: 0;


}




.timeline .left,
.timeline .right
 {
    margin:  0;
   width: calc(50% - 25px);
   position: relative;
   background-color: white;
   padding: 10px;
   border-radius: 5px;


}
.timeline .left h1 ,
.timeline .right h1 {
    color: var(--green-color);
font-size: 20px;
font-weight: bold;
margin: 0;
}

.timeline .left p ,
.timeline .right p {
  color: rgba(0, 0, 0, 0.495);
  line-height: 1.5;
}


.timeline .left {
    float: left;

}

.timeline .right {
    float: right;

}


.clr{
    clear: both;
}


.timeline .left:before {
 content: '';
 width: 15px;
 height: 15px;
 position: absolute;
background-color: white;
border: 2px var(--green-color) solid;
 border-radius: 50%;
 right: -35px;


}
.timeline .left::after {
    content: '';
    width: 0;
    height: 0;
border-color:transparent transparent transparent white ;
border-width: 10px;
border-style: solid;
position: absolute;
right: -20px;
top: 10px;
}

.timeline .right::after {
    content: '';
    width: 0;
    height: 0;
border-color:transparent white transparent transparent ;
border-width: 10px;
border-style: solid;
position: absolute;
left: -20px;
top: 10px;
}

@media(max-width:900px){
    .timeline .left, .timeline .right {
width: 100%;
margin-bottom: 15px;
    }
    .timeline .left:before ,
    .timeline .left::after  {
display: none;
    }

    .timeline .right::after ,
    .timeline .left::after{
        display: none;
    } 
.timeline {
    padding: 30px 50px;
}


}


/* /time line */

/* Our-Features*/

.Our-Features {
    height: 100vh;
    margin-top: 100px;
    padding: 0 50px;

}
.Our-Features .container {
    padding: 0;
}

.Our-Features .firs-h {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--green-color);
    margin: 50px 0;
    padding: 20px;

}

.Our-Features .box-content {
float: left ;
width: calc(100% / 3);
  text-align: center;
 margin-bottom: 50x;
 

    
}

.Our-Features .box-content h1{
font-size: 20px;
font-weight: bold;
color: black;
margin: 10px 20px;
position: relative;

}

.Our-Features .box-content h1::after {
    content: '';
    width: 50px;
    height: 5px;
    background-color: var(--green-color);
    position: absolute;
    right: calc(50% - 23px);
    top: 40px;

}

.Our-Features .box-content img {
width: 100px;


}
.Our-Features .box-content p{
    color:rgba(0, 0, 0, 0.647);
    line-height: 1.5;
    width: 100%;
    padding: 20px;
}

@media (max-width :767px){
    .Our-Features .box-content {
        width: calc(100% / 2);
    }
    
}
@media (max-width :557px){
    .Our-Features .box-content {
        width: calc(100% / 1);
    }
    
}

/* /Our-Features*/

/* Testimonials */
.Testimonials {
    position: relative;
min-height: 400px;
}

.Testimonials::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background-color: var(--green-color);
    float: left;
    top: 0;
    left: 0;
    
}

.Testimonials::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background-color:black;
    float: right;
    top: 0;
    right: 0;
}


.Testimonials h1{
    font-weight: bold;
    font-size: 30px;
position:relative; 
z-index:2;  
text-align: center;
color: #fff;
padding: 50px 0;
padding-bottom: 25px;
margin: 0;
}

.Testimonials .ts-box {
  margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
background-color: #fff;
    width: calc(80% / 3);
    position: relative;
    z-index: 2;
    float: right;
    padding: 10px;
    height: 100%;
    display:block;
    left: -9%;
}

.Testimonials .ts-box p {
margin: 0;
line-height: 1.4;
color: rgba(0, 0, 0, 0.59);

}

.Testimonials .ts-box h2 {
    background-color: #fff;
    color: black;
display: flex;
font-size: 17px;
margin: 0;
padding: 25px 0 5px 0;
}

.Testimonials .ts-box img {
    padding:10px;
    float: left;
    border-radius: 50%;
}

@media(max-width :1040px){
    .Testimonials .ts-box {
text-align: center;
transform: translate(-20%, -10%);
width: calc(83% / 3);
left: 0;
    }
    .Testimonials .ts-box img {
    float: none;
    }
    .Testimonials .ts-box h2 {
padding: 0;
display:block;
    }

}
@media(max-width :767px){
    .Testimonials .ts-box {
        width: 80%;
        float: none;
        left: 26%;
    }




}


/* /Testimonials */
/* contact */
.contact {
    min-height: 600px;
    background-image: url('../imgs/contact.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  .contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    /* background-color: rgb(255 255 255 / 60%); */
  }
  .contact .container {
    position: relative;
    z-index: 2;
  }
  .contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--green-color);
    margin: 0 0 60px;
    text-align: center; 
  }
  .contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
  }
  .contact form .left {
    float: left;
    width: 49%;
  }
  .contact form .right {
    float: right;
    width: 49%;
  }
  @media (max-width: 767px) {
    .contact form .left,
    .contact form .right {
      float: none;
      width: 100%;
    }
  }
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCC;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus { 
  outline: 1px solid var()var(--green-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--green-color);
  color: #FFF;
  cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: .3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: .3s;
}


/* /contact */

.end{
    width: calc(100% + 50px);
    top: 0;
    text-align: center;
color: black;
padding-bottom: 10px;
font-weight: bold;
}



